@charset "utf-8";
* { box-sizing:border-box; -webkit-appearance: none;}
*:focus { outline: none; }
html, body{ height: 100%;}
body { margin: 0;line-height:1.5; font-size:18px;font-family:"微软雅黑",microsoft yahei; color:#333;}
ul,li {list-style: none; padding: 0; margin: 0;}
.clearfix:after{ content:""; display:block; clear:both; height:0; visibility:hidden;}
.clearfix{ zoom:1;}
img {max-width:100%; vertical-align: middle;}

/*第一个div*/
.main { max-width: 1400px; margin: 0 auto; padding:0;}

/*div下的标题*/
.title {text-align: center; color: white; font-size:38px; margin: 0 0 20px 0;font-weight: 700;}

.w-accor{ overflow:hidden; position:relative;border-radius: 10px;}
.w-accor ul,.w-accor li{ padding:0; margin:0; list-style:none;}
.w-accor ul{ width:101%;}
.w-accor li{ position:relative; overflow:hidden;float:left;}
.accorClick li{ cursor:pointer;}
.w-accor li .item{ position:relative;}
.w-accor li > a{ display:block; position:absolute; left:0; right:0; top:0; bottom:0;}
.w-accor h3{ font-size:125%; margin:0; padding:0; font-weight:700;font-family: 华文楷体;font-size: 28px;}
.w-accor .acr_p{ margin-top:0.5em; font-family: 宋体;}



.w-accor4 li img{ max-width:100%;}
.w-accor4 li .cont_ar{ color:#fff;position:absolute; left:0; top:0; bottom:0; right:0;}
.w-accor4 li .cont_ar:before{ content:'';position:absolute; left:0; top:0; bottom:0; right:0; background:#000; opacity:0.35; *filter:alpha(opacity=35); filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=35);transition:all 0.5s; -webkit-transition:all 0.5s;}
.w-accor4 li h3{width:1.2em; text-align:center; line-height:1.5; position:absolute; z-index:1; left:50%; margin-left:-0.6em;top:50%; top:10%\9; *top:10%; transform:translateY(-50%); -webkit-transform:translateY(-50%);transition:opacity 0.5s; -webkit-transition:opacity 0.5s;}
:root .w-accor4 li h3{ top:50%;}
.w-accor4 li .dec_ar{ border-radius: 10px;line-height:1.7; max-height:100%; position:absolute; z-index:1; left:40px; right:40px;top:50%; top:10%\9; *top:10%; transform:translateY(-50%) scale(0); -webkit-transform:translateY(-50%) scale(0); padding:30px; background:rgba(255,255,255,0.95); color:#222; opacity:0; *filter:alpha(opacity=0); filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);transition:all 0.5s; -webkit-transition:all 0.5s; }
:root .w-accor4 li .dec_ar{ top:50%;}
.w-accor4 li .i_img{ text-align:center; margin-bottom:1em;width: 500px;height: 100px}
/*.w-accor4 li .i_img img{ max-width:80%; max-height:80px;}*/
.w-accor4 li.cur .cont_ar:before{opacity:0; *filter:alpha(opacity=0); filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);}
.w-accor4 li.cur h3{ opacity:0; *filter:alpha(opacity=0); filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);}
.w-accor4 li.cur .dec_ar{opacity:1; *filter:alpha(opacity=100); filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);transform:translateY(-50%) scale(1); -webkit-transform:translateY(-50%) scale(1);transition-delay:0.3s; -webkit-transition-delay:0.3s;}


@media (max-width:960px){
	.w-accor h3{ font-size:110%;}
	.w-accor .acr_p{ font-size:90%;}
	.w-accor4 li .img_ar{ height:350px !important;}
	.w-accor4 li .img_ar img{ height:100%; max-width:inherit;}
}

@media (max-width:767px){
	.w-accor4 li .dec_ar{ left:20px; right:20px; padding:15px;}
}
@media (max-width:640px){
	.w-accor { height:auto !important;}
}
@media (max-width:480px){
	body{font-size:3.5vw;}
	.w-accor4 li .dec_ar{ left:1em; right:1em; padding:1em;}
	.w-accor4 li .img_ar{ height:20em !important;}
	.w-accor4 li .i_img img{ max-height:3em;}
}

.main .tips {background-color: rgba(232,232,232,0.95);border-radius: 10px}
