
* {padding: 0;margin: 0;list-style: none;}
body {background-color: #334756}

/*div 1 大布局*/
.big_box {position: relative;}

/*div 1.1 地图*/
#map {
    width: 900px;height: 670px;
    top: 50px;left: 10px;
    position: absolute;
    border-radius: 10px;
    background-color: #eeeeee;
}

.information {
    width: 600px;height: 670px;
    position: relative;
    top: 50px;left: 920px;
    border-radius: 10px;background-color: #5588a3}
.information .bc{
    width: 580px;height: 650px;
    position: absolute;
    top: 10px;left: 10px;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.7)}

.information .text {
    width: 560px;height: 280px;
    position: absolute;
    top: 10px;left: 10px;
    border-radius: 10px;
    background-color: #e8e8e8;
}

.information .text p{padding: 10px;margin: 5px;font-family: 华文楷体;font-size: 22px;}
.information .text p .title{padding: 10px;margin: 10px;font-family: 宋体;font-size: 30px;font-weight: bold}
.information .text p b {color: #fa4848}




ul {width: 1000px;}
.wrap{
    position: absolute;
    left: 10px;top:330px;
    width: 560px;height: 310px;
    border-radius: 10px;
    margin: 0 auto ;}
.wrap li{float: left;width:112px;height: 310px}

.wrap .start{border-radius: 10px 0 0 10px}
.wrap .end{border-radius:0 10px  10px 0}
.wrap li:hover {border-radius: 10px}



